#firstNumbersRow {
    background-color: white;
    margin-left: 5px !important;
    margin-right: 5px !important;
    font: bold 4px !important;
    
}

.row {
   margin-left: 5px !important;
   margin-right: 5px !important;
   min-width: 100%;   
}

.navbar{
    margin-left: 5px !important;
    margin-right: 5px !important;
    min-width: 100%;
}

#navbarimg {
    width:60px;
    height:45px;
}

.navHeaderStyle {
    font-weight: bold !important;
    color: black;
}

#largeIntroTextFieldRow {
    margin-top: 15px;
    margin-bottom: 15px;
}

#largeIntroTextField {
    margin-bottom: 0px !important;
}

body {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theWrapper{
    width: 1265px !important;
    margin-left: 3em !important;  
    margin-right: ;
    margin-bottom: ;   
}   

.buttonsRowSpacing{
    padding-right: 15px;
    justify-content: flex-end;
    margin-bottom: 10px;
}

#lastPageButton {
    margin-right: 10px;
}

table {
    background-color:white;
}

.metric {
    background-color:white;
}



#navbarContainerRow {
    background-color: #5288de;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.iconSpacing {
    height: 1em;  
    margin-right: 5px; 
}

.textAllignRight {
    text-align: right;
}

.textAllignCenter{
    text-align: center;
}

.limitHeightExact {
    max-height: 10px !important;
}

.lessPaddingforRow {
    padding: 6px !important;
}