
#navbarimg {
    width:60px;
    height:45px;
}

body {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theWrapper{
    width: 1265px; 
    
    }

table {
    background-color:white;
}

.metric {
    background-color:white;
}

#firstNumbersRow {
    background-color: lightblue;
}

#navbarContainerRow {
    background-color: #5288de;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.iconSpacing {
    height: 1em;  
    margin-right: 5px; 
}

.textAllignRight {
    text-align:right;
}

.limitHeightExact {
    height: 10px;
}