#firstNumbersRow {
    background-color: white;   
    font: bold 4px !important;    
}

.row {
   margin-left: 0px !important;
   margin-right: 0px !important;
   width: 1265px !important;   
}

.nav{
    width: 1265px !important;
}

#navbarimg {
    width: 8f0px;
    height: 60px;
}

#navBrandText {
    align-self: center !important;
    margin-left: 15px !important
}

.navHeaderStyle {
    font-weight: bold !important;
    color: black;
}

#navbarSupportedContent {
    padding-right: 0 !important; 
}
#navSearchFieldArea {
    margin-left: 81px !important;
}

.showMenuInFront {
    z-index: 4;
}

#largeIntroTextFieldRow {
    margin-top: 32px;
    margin-bottom: 32px;
}

#largeIntroTextField {
    margin-bottom: 0px !important;
}

body {
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theWrapper{
    width: 1265px !important;
    margin-left: 100px !important;  
    margin-right: 100px !important;
    margin-bottom: 16px !important;   
}   

.buttonsRowSpacing{ 
    margin-bottom: 8px;  
}

.cryptoCurrenciesBtn {
    margin-left: 16px !important;
    margin-right: 8px !important;
}

.lastPageButton {
    margin-right: 8px !important;
}

.nextPageButton {
    margin-right: 16px !important;
}

.stickyFirstRow {
    position: sticky;
    top: 0;
    z-index: 3 !important;
}

table {
    background-color:white;
}

.metric {
    background-color:white;
}

#navbarContainerRow {
    background-color: #5288de;
}

.greenText {
    color: green;
}

.redText {
    color: red;
}

.iconSpacing {
    height: 1em;  
    margin-right: 5px; 
}

.textAllignRight {
    text-align: right;
}

.textAllignCenter{
    text-align: center;
}

.limitHeightExact {
    max-height: 10px !important;
}

.lessPaddingforRow {
    padding: 6px !important;
}

.sparklineField {
    width: 164px;
}